{% extends "base.html" %}

{% block content %}
    <p>Clean email</p>

    <form action="/clean_email/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="submit" value="Submit" />
    </form>

    <a href="{% url 'index' %}">Home</a>
{% endblock %}