{% extends "base.html" %}
{% block content %}
    <h3>Items in Stock</h3>
    <ul>
        {% for item in items %}
        <li>
            <a href="{% url 'item_detail' item.id %}">
                {{ item.title|capfirst }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
