{% extends "base.html" %}

{% block content %}
    <p>Add Item</p>

    <form action="/contact/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="submit" value="Submit" />
    </form>

    <a href="{% url 'index' %}">Home</a>



<!-- <p>
<label for="id_subject">Subject:</label> <input id="id_subject" maxlength="100" name="subject" type="text" />
</p>
<label for="id_message">Message:</label> 
<input id="id_message" name="message" type="text" />
<label for="id_sender">Sender:</label> 
<input id="id_sender" name="sender" type="email" />
<label for="id_cc_myself">Cc myself:</label> 
<input id="id_cc_myself" name="cc_myself" type="checkbox" />
<input type="submit" value="Submit" /> -->


{% endblock %}
    
{% block javascript %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}