{% extends "base.html" %}

{% block content %}
    <p>Add Item</p>
    <form action="/item_add2/" method="post">
    {% csrf_token %}
    <p>
    	<label for="id_title">Title:</label>
    	{{ form.title }}
    	{{ form.title.errors }}
        {{ form.non_field_errors }}
    </p>
    <p>
    	<label for="id_description">Description:</label>
    	{{ form.description }}
    	{{ form.description.errors }}
    </p>	
	<p>
		<label for="id_amount">Amount:</label>
		{{ form.amount }}
    	{{ form.amount.errors }}
	</p>
    <p>
        <label for="id_field4_select">Field 4 Select:</label>
        {{ form.field4_select }}
        {{ form.field4_select.errors }}
    </p>
    <p>
        <label for="id_field7">Field7:</label>
        {{ form.field7 }}
        {{ form.field7.errors }}
    </p>
    <input type="submit" id="submit" value="Submit" />
    </form>


    <a href="{% url 'index' %}">Home</a>
{% endblock %}