{% extends "base.html" %}

{% block content %}
    <p>item detail page</p>
    <h3>{{ item.title|capfirst }}</h3>
    <p>{{ item.amount }} currently in stock</p>
    <h4>Description:</h4>
    <p>{{ item.description }}</p>

    <h4>Get_full_name:</h4>
    <p>{{ item.full_name }}</p>

    <a href="{% url 'index' %}">Home</a>
{% endblock %}