{% extends "base.html" %}
{% block content %}
    <h3>Parser</h3>
    <form enctype="multipart/form-data" action="/parsing/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="submit" value="Upload" />
    </form>
{% endblock content %}
