{% extends "base.html" %}

{% block content %}
    <p>Test Ajax</p>

    <a href="{% url 'index' %}">Home</a>
{% endblock %}
    
{% block javascript %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'test_ajax.js' %}"></script>
{% endblock %}