{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Inventory Project</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
	<h1>Base Django 1.6</h1>
    {% block content %}
    {% endblock content %}
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>